<h1> Secret Page</h1>

<img src="https://media.discordapp.net/attachments/425371223598301184/538775319042326569/unknown.png?width=717&height=538" alt="">
<ul>
<li><a href="/logout">Logout</a></li>
</ul>
